*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    min-height: 20px;
    border-bottom: solid 1px #e6e6e6;
    padding: 20px;
}

nav .nav-link{
    color: #001D38;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.2s;
}

nav .nav-link:hover{
    filter: brightness(70%);
}

div#divEstilizada{
    border: solid 1px #ff008c;
    padding: 30px;
    background-color: #fafafa;
    border-radius: 10px;
}

div#divEstilizada input{
    border-radius: 10px;
    height: 60px;
    background-color: #ededed;
    color: #001D38;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

div#divEstilizada button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #ff008c 0%, #ff6357 100%);
    color: #e6e6e6;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}

.btn-confirmar{
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #ff008c 0%, #ff6357 100%);
    color: #e6e6e6;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}

.btn-confirmar:hover{
    filter: brightness(80%);
}

.btn-cancelar{
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #ff008c 0%, #ff6357 100%);
    color: #e6e6e6;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
    float: right;
    margin-left: 5%;
}

.btn-cancelar:hover{
    filter: brightness(80%);
}